@import "variables";

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar-track {
  //border: 1px solid $zai-pink;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #00253c;
  transition: all 2s;
}

::-webkit-scrollbar-thumb {
  background-color: $zai-pink;
}

html {
  background-color: $d-black;
}

body, html, #app {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  overflow: auto;
}

a {
  color: $zai-pink;
}

.box {
  //width: 300px;
  position: relative;
  color: white;
  background-color: #031e2f;
  .corner {
    width: 40px;
    height: 30px;
    right: 0;
    bottom: -15px;
    border-top: 32px solid rgba(255, 0, 0, 0);
    border-right: 40px solid #000a10;
    position: absolute;
    color: black;
  }
}

.card {

  overflow: hidden;
  background-color: #031e2f;
  color: white;
  border-radius: 5px;
  .card-header-title {
    color: $zai-pink;

  }
  .card-footer {
    border-color: $d-black

  }
  .card-footer-item {
    color: $zai-pink;
    font-weight: bold;
  }
  .card-footer-item:not(:last-child) {
    border-color: $d-black
  }
  .corner {
    width: 40px;
    height: 30px;
    right: 0;
    bottom: -15px;
    border-top: 32px solid rgba(255, 0, 0, 0);
    border-right: 40px solid #000a10;
    position: absolute;
    color: black;
  }
}

.title {
  color: $zai-pink;
}

.shadow {
  box-shadow: 15px 31px 176px 300px #001f34;
  z-index: -1;
  position: absolute;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 500px;
  top: -690px;
  width: 18%;
}

.button.is-primary {
  background-color: $zai-pink;
  border-color: transparent;
  color: #fff;
}

.button.is-primary:hover {
  background-color: $zai-pink;
}

strong {
  color: white;
}

.has-addons {
  .tag {
    background-color: #023a5f;
    color: white;
  }
}

.zai-field {
  .control {
    .has-icons-left {
      height: 3.25em;
    }
    .input {
      color: white;
      background-color: #001624;
      border: 0;
      height: 3.25em;
      border-radius: 10px;
      padding-left: 4.25em;
    }
    .input:focus {
    }
    .input::placeholder {
      color: #5b646c;
    }
    .icon {
      background-color: #00253c;
      color: #e7004d;
      height: 3.25em;
      width: 3.25em;
      border-radius: 5px 0 0 5px;
    }
  }
}

.button.is-link.is-outlined {
  border-color: $zai-pink;
  color: $zai-pink;
}

.button.is-link.is-outlined:hover {
  background-color: $zai-pink;
  border-color: $zai-pink;
}

.panel {
  .panel-heading {
    background-color: #00253c;
    color: white;
    border: 0;
  }
  .panel-block {
    background-color: #00253c;
    color: white;
    border: 0;
  }

  .panel-filter:hover {
    background-color: $zai-pink;
  }

  .panel-block.is-active {
    color: $zai-pink;
    .panel-icon {
      color: $zai-pink;
    }
  }

  .panel-block.is-active:hover {
    color: white;
    .panel-icon {
      color: white;
    }
  }

  .panel-tabs {
    background-color: #00253c;
    color: white;
    border-color: #00253c;
    a {
      color: white;
      border-bottom-color: #00253c;
    }
    .is-active {
      color: $zai-pink;
      border-bottom-color: $zai-pink;
    }
  }
}



